SwiftCodeNotes/SwiftCodeNotes.xcodeproj/project.xcworkspace/xcuserdata/renehansen.xcuserdatad/UserInterfaceState.xcuserstate
SwiftCodeNotes/SwiftCodeNotes.xcodeproj/xcuserdata/renehansen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
